bin/
obj/
out/

*.user
*.suo
*.userosscache
*sln.docstates

.vscode/

.vs/

Thumbs.db
ehthumbs.db
Desktop.ini

.DS_Store

.log

*nupkg
*.snupkg
packages/
.nuget/

*.tmp
*.temp

*~
*.bak

.idea/
*.iml

coverage/
*.coverage
*.coverage.xml

produkty.csv